@charset "UTF-8";
:root {
    --cor0: #ebe5c5;
    --cor1: #6140A3;
    --cor2: #693485;
    --cor3: #2776A3;
    --cor4: #2F6EF9;
    --cor5: #193B85;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}
h1{
    text-align: center;
}
body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}
a{
    text-decoration: underline;
    color: black;
}
a:hover{
    transition-duration: .5s;
    color: black;
    background-color: white;
    border-radius: 5px;
}
header{
    background-color: var(--cor4);
    color:white;
}
main{
    background-color: var(--cor0);
    text-align: center;
    width: 500px;
    height: 500px;
}